<footer id="site-info" class="site-footer__info" 
style="text-align:center !important;color:white;background:#323232;display:block;padding:24px; position: absolute; bottom: 0;width: 100%;">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">
            <a href="https://www.facebook.com/mateuslazaro" target="new"><i class="fa fa-facebook-square fa-fw fa-2x" style="color:wheat"></i></a>
        </button>
        <button type="button" class="btn btn-secondary">
            <a href="https://github.com/matl4zaro" target="new"><i class="fa fa-github-alt fa-fw fa-2x" style="color:wheat"></i></a>
            
        </button>
        <button type="button" class="btn btn-secondary">
            <a href="https://www.linkedin.com/in/mateus-lazaro-98608419a/" target="new"><i class="fa fa-linkedin fa-fw fa-2x" style="color:wheat"></i></a>
        </button>
      </div>
    <br><br>
    <p style="align-self: center;font-size: 12px; color:wheat">© FTI ~~ Angular ~~ .NET</p>
</footer>