<footer id="site-info" class="site-footer__info footer">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">
            <a href="https://www.facebook.com/mateuslazaro" target="new">
              <i class="fa fa-facebook-square fa-fw fa-2x" ></i>
            </a>
        </button>
        <button type="button" class="btn btn-secondary">
            <a href="https://github.com/matl4zaro" target="new">
                <i class="fa fa-github-alt fa-fw fa-2x"></i>
            </a>

        </button>
        <button type="button" class="btn btn-secondary">
            <a href="https://www.linkedin.com/in/mateus-lazaro-98608419a/" target="new">
                <i class="fa fa-linkedin fa-fw fa-2x"></i>
            </a>
        </button>
      </div>
    <br><br>
    <p id="signed">2020 @FTI ~~ Angular</p>
</footer>
