<footer id="site-info" class="site-footer__info" style="text-align:center !important;color:white;background:#323232;display:block;padding:24px">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">
            <i class="fa fa-facebook-square fa-fw fa-2x" style="color:wheat"></i>
        </button>
        <button type="button" class="btn btn-secondary">
            <i class="fa fa-github-alt fa-fw fa-2x" style="color:wheat"></i>
            
        </button>
        <button type="button" class="btn btn-secondary">
            <i class="fa fa-linkedin fa-fw fa-2x" style="color:wheat"></i>
        </button>
      </div>
    <br><br>
    <p style="align-self: center;font-size: 12px; color:wheat">© FTI ~~ Angular ~~ .NET</p>
</footer>