<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <!-- <i class="fa icone-cor fa-spinner fa-pulse fa-1x fa-fw" style="color:black"></i> -->
    <a class="navbar-brand" href="#">
        <i class="fa fa-border">Página</i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']"><i class="fa fa-home fa-fw" style="color:darkgreen"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cpf']"><i class="fa fa-drivers-license fa-fw" style="color:darkslateblue"></i> Gerador CPF</a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" [routerLink]="['/endereco']" tabindex="-1" aria-disabled="true">
                <i class="fa fa-bolt fa-fw" style="color:chocolate"></i> Futuros
            </a>
          </li>
        </ul>
    </div>

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Procurar" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Procurar</button>
    </form>
    
  </nav>