
<div class="principal">
    <!-- Versão Anterior -->
  <!-- <div class="dropdown" (keyup)="0">
        <input #converter placeholder="Digite o valor em metros">
        <div class="dropdown-content">
          <span>{{converter.value * 100}} cm</span><hr>
          <span>{{converter.value * 1}} m</span><hr>
          <span>{{converter.value/1000}} km</span>
        </div>
    </div>
    <div class="dropdown" (keyup)="0">
        <input #temperatura placeholder="Temperatura em celsius">
        <div class="dropdown-content">
          <span>{{ temperatura.value * (9/5) + 32 }} ºF</span><hr>
          <span>{{ temperatura.value * 1 }} ºC</span><hr>
          <span>{{ temperatura.value * 1 + 273 + 15/100 }} K</span>
        </div>
    </div> -->
  <h2  class="classe2">
    <span id="pagetitle"> Conversor</span>
  </h2>

  <div class="d-flex">
    <ul ngbNav #nav="ngbNav"
      [(activeId)]="active"
      class="nav-pills"
      orientation="vertical">

      <li ngbNavItem="forca">
        <a ngbNavLink>Força</a>
        <ng-template ngbNavContent>

        </ng-template>
      </li>

      <li ngbNavItem="comprimento">
        <a ngbNavLink>Comprimento</a>
        <ng-template ngbNavContent>
          <div>
            <input type="text" (keyup)="digitando($event)"
              placeholder="Digite o valor em metros">
            <hr><span class="valores">{{ valoresConvertidos[0] }} cm</span>
            <hr><span class="valores">{{ valoresConvertidos[1] }} m</span>
            <hr><span class="valores">{{ valoresConvertidos[2] }} km</span>
          </div>
        </ng-template>
      </li>

      <li ngbNavItem="temperatura">
        <a ngbNavLink>Temperatura</a>
        <ng-template ngbNavContent>
          <div>
            <input type="text" (keyup)="digitando($event)"
              placeholder="Digite o valor em metros">
            <hr><span class="valores">{{ valoresConvertidos[0] }} cm</span>
            <hr><span class="valores">{{ valoresConvertidos[1] }} m</span>
            <hr><span class="valores">{{ valoresConvertidos[2] }} km</span>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="ml-4"></div>

  </div>

  <pre>Ativo: {{ active }}</pre>


</div>

