<br><br>
<div class="flex-container">
    <div class="alert" style="text-align: center;">
        <!-- <div class="col-sm"> -->
            <label> Digite nesse campo e altere as cores </label>
            <input type="text" (keyup)="mudaClasse($event)" >
            <hr>
            <div class="input-group mb-12">

                <button type="button" class="btn btn-primary" style="width: 100%;"
                  (click)='aplicaCpf()'>Gera CPF</button>
            </div>
            <hr>
        </div>
        <!-- TESTE BULMA -->
        <div class="rows">
                <div class="row" id="cpftable">
                    <button *ngFor="let item of cpfList; index as i"
                        class="list-group-item distanciamento"
                        id="cpfButton"
                        (click)="copyClipboard()"
                        [ngClass]="(i % 2 === 0) ? 'fundo1' : 'fundo2'"
                        [style.background]=" corDaClasse ? corDaClasse : ''"
                        >
                        {{ cpfList[i] }}
                    </button>
                    <hr>
                </div>
        </div>


       <br>
    <div class="alert alert-dark" style="text-align: center;">
        <a class="alert-link">Para Copiar clique no CPF desejado.</a>
    </div>
</div>


<br><br>
